body{ background-color: rgb(180, 218, 10);}
header{
    background-color: rgb(93, 28, 153);
    display: flex;
    justify-content: space-between;
align-items: center;
background-color: rgb(246, 237, 255);
color: blue;
}{
    body
    
}











